/*
Global
*/

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #463F3A;
    font-family: Tahoma, sans-serif;
    overflow: auto;
}

h1 {
    color: black;
}

p {
    color: black;
}

.redtext {
    color: lightcoral !important;
}

.bluetext {
    color: lightblue !important;
}

.goldtext {
    color: #BFAB25 !important;
}

/*
Tables
*/
.table-bordered {
    color: black;
    border-color: black;
}

.table>tbody>tr {
    background-color: #463F3A;
}

th {
    font-size: medium;
    font-weight: bold;
}

td {
    font-size: medium;
}

.table>thead>tr>th, .table>tbody>tr>td {
    color: black;
    border-color: black;
    padding: 3px;
}

.table>tbody>tr:hover {
    background-color: #9882AC;
}

label {
    color: black;
    font-weight: bold!important;
}

.form-control {
    background-color: #38322E;
    border-color: black;
}

.form-control:focus {
    box-shadow: none;
    background-color: #38322E;
    border-color: #9882AC;
}

.dataTables_info {
    color: black;
}

.paginate_button>a {
    color: black!important;
    background-color: #38322E!important;
    border-color: black!important;
}

.paginate_button>a:hover {
    background: linear-gradient(to bottom, #463F3A 0%, #9882AC 100%)
}

.paginate_button.active>a  {
    background-color: #463F3A!important; 
    background: linear-gradient(to bottom, #463F3A 0%, #9882AC 100%)
}

.paginate_button>a:focus {
    outline: none;
}

/*
Navbar
*/

.navbar {
    margin: 0px;
    padding: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #BFAB25;
    background-color: #38322E;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: black;
}

.navbar-light .navbar-brand:hover {
    color: #9882AC;
}

.navbar-light .navbar-nav>.active>a {
    color: black;
    background: linear-gradient(to bottom, #463F3A 0%, #9882AC 100%);
}

.navbar-light .navbar-nav>.active>a:hover {
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    background-color: #38322E;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
    background: linear-gradient(to bottom, #463F3A 0%, #9882AC 100%)!important;
}

.navbar-light .navbar-toggler  {
    border-color: black;
}

.navbar-light .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-light .navbar-toggler:hover {
    background-color: #463F3A;
}


/*
Index
*/

#stream {
    padding: 0px;
    height: 85vh;
}

#botdata {
    padding: 15px;
    height: 85vh;
}

#chat {
    padding: 0px;
    height: 85vh;
}

/*
Fighter Data
*/



/*
Match History
*/


