<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saltybox</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Saltybox</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar" >
                    <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/fighterdata">Fighter Data</a></li>
                        <li class="nav-item"><a class="nav-link" href="/matchhistory">Match History</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div id="botdata" class="col-md-3 col-xs-12">
                    <p>Test</p>
                </div>
                    <div id="matchinfo" class="d-block d-md-none col-xs-12">
                        <p>Test</p>
                    </div>
                    <div id="stream" class="col-md-6 col-xs-12">
                    <iframe
                        src="https://player.twitch.tv/?channel=saltybet&parent=saltybox.business"
                        frameborder="0"
                        height="100%"
                        width="100%"
                        theme="dark"
                        allowfullscreen="<allowfullscreen>">
                    </iframe>
                    </div>
                <div id="chat" class="col-md-3 col-xs-12">
                    <iframe 
                        src="https://www.twitch.tv/embed/saltybet/chat?darkpopout&parent=saltybox.business"
                        frameborder="0"
                        height="100%"
                        width="100%"
                        theme="dark"
                        >
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="empty col-md-3 col-xs-12"></div>
                <div id="matchinfo" class="d-none d-lg-block col-md-6 col-xs-12">
                    <p>Test</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>